/************clear styles*******************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    height: 100%;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, a:link, a:visited  {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}
/***************************************************/
body {
    height: 100%;
    background-color: #5A5560;
}
/***************footer*********************/
.footer {
    /* height: 770px; */
    width: 100%;
    /* height: 100%; */
    /* height: 600px; */
    /* min-height: 20px; */
    max-height: 770px;
    /* background-image: url(../img/main.jpg);
    background-repeat: no-repeat; */
    position: relative;
    background-color: aqua;
}
.footer__img {
    position:absolute;
    width: 100%;
    /* height: 100%; */
    max-height: 770px;
}
.footer__logo {
width: 400px;
position: relative;
/* left: 164px;
top: 473px; */
font-family: 'Montserrat', sans-serif; 
font-size: calc(1em + 2vw);
color: #F2EBE9;
padding-top: calc(1em + 50vw);
}
.footer__logo::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #F2EBE9;
    position: relative;
    /* top: -10px;
    left: 5px; */
}
.footer__logo::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #F2EBE9;
    position: relative;
    /* top: -10px;
    left: -5px; */
}
.footer__with {
    width: 200px;
    position: relative;
    /* top: 578px;
    left: 99px; */
    color: #F2EBE9;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.5em + 1vw);
}
.footer__year {
    width: 300px;
    position: relative;
    /* top: 464px;
    left: 150px; */
    color: #F2EBE9;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(4em + 4vw);
}
.footer__text {
    width: 316px;
    height: 58px;
    position: relative;
    /* top: 480px;
    left: 154px; */
    color: #F2EBE9;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.5em + 2vw);
}
.footer__time {
    width: 272px;
    position: relative;
    /* top: 487px;
    left: 940px; */
    color: #F2EBE9;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.footer__clock {
    width: 250px;
    position: relative;
    /* top: 471px;
    left: 1234px; */
    color: #F2EBE9;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.footer__play {
    width: 50px;
    position: relative;
    /* top: 454px;
    left: 1316px; */
}
.footer__line {
    width: 388px;
    height: 2px;
    background: #F2EBE9;
    position: relative;
    /* top: 474px;
    left: 941px; */
}
.footer__socialNetwork {
    width: 190px;
    position: relative;
    /* top: 420px;
    left: 1709px; */
} 
.footer__socialNetwork li {
    display: inline-block;
}
/*-------------------------*/
.traveled {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #F2EBE9;
    margin-top: 30px;
}
.traveled__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding-top: 80px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.traveled__arrow-left {
    position: relative;
    top: 161px;
    left: 30px;
}
.traveled__arrow-right {
    position: relative;
    top: 169px;
    left: 60px;
}
.traveled__ico {
    position: relative;
    top: 164px;
    left: 85px;
    width: 179px;
    height: 179px;
    border-radius: 100px;
    overflow:hidden;
}
.traveled__ico-img {
    position: relative;
    top: 0px;
    left: -50%;
    width: 177%;
    height: 100%;
}
.traveled__ico-text {
    position: relative;
    top: 200px;
    left: -60%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: black;
}