/************clear styles*******************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    height: 100%;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, a:link, a:visited  {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}
/***************************************************/
body {
    height: 100%;
    /* height: 4132px; */
    background-color: #5A5560;
    font-size: 16px;
}
/***************header*********************/
.header {
    display: grid;
    grid-template-columns: 5% repeat(5, 1fr);
    grid-template-rows: 5% repeat(4, 1fr);
    grid-template-areas: 
    ". . . . . ."
    ". . . . . menu"
    ". header__logo header__logo . . menu"
    "with header__year header__year . . menu"
    ". header__text header__text header__time header__time socialNetwork";
    width: 100%;
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
/* .header__img {
    position:absolute;
    width: 100%;
    height: 100%;
    max-height: 770px;
} */
.svg-path {
    width: 100%;
    height: calc(1rem + 32vw);
    grid-area: menu;
    stroke: rgb(255, 255, 255);
    stroke-width: 4;
    fill: none;
    stroke-dasharray: 6 6;
  }
  
  .svg-path path{
    stroke: rgb(255, 255, 255);
    stroke-width: 10;
  }
  /* overlay object on svg path */
  /* .motion-container {
    position: relative;
  } */
  /* .svg-path {
    position: absolute;
    left: 0;
    top: 0;
  } */
  
  /* animating object on path */
  .motion-object {
    offset-path: path('m371.15993,5.552219c-54.287427,0 -100.88459,34.648946 -123.693092,84.669606c-9.109596,-6.259219 -19.157461,-10.049168 -29.880906,-10.049168c-32.428047,0 -59.4128,32.106299 -67.753216,75.689526c-14.236033,-6.925289 -30.788597,-11.118233 -48.469617,-11.118233c-53.043097,0 -96.070598,35.718293 -96.070598,79.751951c0,39.747854 35.288261,72.424251 81.130155,78.46905c-2.054581,4.290319 -3.648266,8.538933 -3.648266,13.042551c0,42.159865 93.850462,76.544709 209.513837,76.544709c115.663356,0 209.513951,-34.384867 209.513837,-76.544709c0,-2.836666 -1.430563,-5.368156 -2.258432,-8.124874c5.066077,1.55056 10.082208,3.207196 15.635371,3.207196c30.941703,0.000117 56.113565,-25.875172 56.113565,-57.729298c0,-31.854149 -25.171862,-57.729274 -56.113565,-57.729274c-3.791832,0 -7.016072,1.61196 -10.597307,2.351944c3.131438,-12.736883 5.211771,-25.733191 5.211771,-39.555256c0,-84.319659 -62.015778,-152.875674 -138.633498,-152.875674l-0.000038,-0.000047z');
    animation: move 3s linear infinite;
  }
  
 /* @keyframes move {
    0% { 
      offset-distance: 0%;
    }
    100% { 
      offset-distance: 100%;
    }
  }
   */
  /* deco */
  
  /* .motion-object {
    width: 40px;
    height: 40px;
    background: hotpink;
    border-radius: 50%;
  } */












.header__logo {
    grid-area: header__logo;
    align-self: end;
    justify-self: center;
    font-family: 'Montserrat', sans-serif; 
    font-size: calc(.3rem + 2vw);
    color: #F2EBE9;
}
.header__logo::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #F2EBE9;
}
.header__logo::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #F2EBE9;
}
.header__with {
    grid-area: with;
    align-self: center;
    justify-self: right;
    color: #F2EBE9;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.5em + 1vw);
}
.header__year {
    grid-area: header__year;
    color: #F2EBE9;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1rem + 10vw);
    justify-self: center;
}
.header__text {
    grid-area: header__text;
    align-self: start;
    color: #F2EBE9;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.5rem + 1vw);
}
.header__time {
    grid-area: header__time;
    justify-self: center;
    align-self: center;
}
.header__time-text {
    grid-area: header__time;
    justify-self: center;
    color: #F2EBE9;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.2rem + 1vw);
}
.header__line {
    grid-area: header__time;
    width: calc(4rem + 21vw);
    height: 2px;
    background: #F2EBE9;
}
.header__socialNetwork {
    display:flex;
    grid-area: socialNetwork;
    align-items: end;
    justify-self: center;
    padding: calc(1rem + 1vw);
}
.sn_img {
    width: calc(0.8rem + 2vw);
    padding-left: calc(0.1rem + 1vw);
}
/* .header__menu {
    grid-area: menu;
    align-items: start;
} */
.menu__img {
    width: calc(10rem + 10vw);
    padding-right: 26px;
    }
/*-------------------------*/
/* .traveled {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #F2EBE9;
    margin-top: 30px;
}
.traveled__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1em + 3vw);
    padding-top: 80px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.traveled__arrow-left {
    position: relative;
    top: 161px;
    left: 30px;
}
.traveled__arrow-right {
    position: relative;
    top: 169px;
    left: 60px;
}
.traveled__ico {
    position: relative;
    top: 164px;
    left: 85px;
    width: 179px;
    height: 179px;
    border-radius: 100px;
    overflow:hidden;
}
.traveled__ico-img {
    position: relative;
    top: 0px;
    left: -50%;
    width: 177%;
    height: 100%;
}
.traveled__ico-text {
    position: relative;
    top: 200px;
    left: -60%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: black;
} */